<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Cadastro de Usuario</title>

</head>
<body>
	<section layout:fragment="header">
		<h1>Cadastro de Usuario</h1>

		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Cadastrar Usuario</li>
		</ol>


	</section>



	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<!-- Horizontal Form -->
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Adicionar 
						Usuario</h3>
					</div>


					<!-- form start -->
					<!--                 <form th:action="@{/product/save}" th:object="${product}" method="post" class="form-horizontal"> -->


					

 			<form th:action="@{/usuario/salvar}" method="post" th:object="${usuario}">
          
       			  
						<th:block th:include="fragments/Mensagens"></th:block>

					<input type="hidden" readonly id="id" name="id" th:value="${usuario?.id}"/>

						<div class="box-body">

							<div class="form-group">
								<label id="login" class=" control-label">Nome de Usuário:</label>
								<input type="text" name="login" class="form-control" placeholder="Nome" th:value="${usuario?.login}">
							
							</div>
								<div class="form-group">
									<label id="senha" class=" control-label">Senha do Usuário:</label>
									<input type="password" id="password" name="senha" class="form-control" placeholder="senha" th:value="${usuario?.senha}">
									
									<div class="form-group">

									<label id="senha" class=" control-label">Confirmação de Senha::</label>
									 <input class="form-control" type="password" placeholder="Confirme a  Senha" id="confirm_password" required>
									</div>
									
								</div>
							
<!-- 								<th:block th:each="grupo : ${grupos}"> -->
<!-- 									<div class="checkbox checkbox-inline"> -->
<!-- 										<input type="checkbox" th:value="${grupo.codigo}" th:field="*{grupos}"/> -->
<!-- 										<label th:for="${#ids.prev('grupos')}" th:text=${grupo.nome}>Administrador</label> -->
<!-- 									</div> -->
<!-- 								</th:block> -->
							
								<div> <label class="control-label"> Perfil do Usuário:  </label></div>
							<th:block th:each="grupo : ${grupos}">
						
								<div class="checkbox-inline">
									<input type="checkbox" th:value="${grupo?.id}"
										th:field="*{roles}"> <label
										th:for="${#ids.prev('roles')}" th:text=${grupo?.descricao}></label>
								</div>
								<!-- 											<label th:for="${#ids.prev('grupos')}" th:text=${grupo.nomeRole} >   </label> -->

								<th:block>
									<!-- 							<div class="form-group"> -->
									<!-- 								<label>Selecionar Curso</label> <select name="curso" -->
									<!-- 									class="form-control"> -->
									<!-- 									<option th:each="c: ${cursolist}" th:value="${c.id}" -->
									<!-- 										th:text="${c.nome}"> -->
									<!-- 								</select> -->
									<!-- 							</div> -->
						</div>
					
						<!--                     /.box-body -->
						<div class="box-footer center">
							<a th:href="@{/reserva/listar}">
								<button type="button" class="btn btn-default">
									<i class="fa fa-right"></i> Listar Usuários
								</button>
							</a>
							<button type="submit" class="btn btn-info pull-right"
								th:href="@{/usuario/salvar}">
								<i class="fa fa-save"></i> Salvar Usuario
							</button>
						</div>
					
						<!-- /.box-footer -->
						
					</form>
				<!-- 		<div class="row">
						<div class="col-sm-6 form-group bw-required" >
							<label class="control-label">Grupos</label>
							<div>
								<th:block th:each="grupo : ${grupos}">
									<div class="checkbox checkbox-inline">
										<input type="checkbox" th:value="${grupo.codigo}" th:field="*{grupos}"/>
										<label th:for="${#ids.prev('grupos')}" th:text=${grupo.nome}>Administrador</label>
									</div>
								</th:block>
							</div>
						</div>
					</div> -->
					
					<div>
					   <h2> Gereciador de Usuario: </h2>
					</div>
					<br>
					
					  <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example1_info">
                                    <thead class="thead">
						             <tr>
										    <th>ID</th>
										     <th>Usuario</th>
										 	
										 <th>Perfil de Usuario</th>
										 <th>Ações</th>
		                              </tr>
                                    </thead>
                                    <tbody>
                                   <tr th:each="c : ${userList}">
										    <td th:text="${c.id}">Alfreds Futterkiste</td>
										     <td th:text="${c.login}">Alfreds Futterkiste</td>
										     <td th:text="${c.roles}">Alfreds Futterkiste</td>
										      
										      
                                        <td>
                                            <a th:href="@{/usuario/{id}(id=${c.id})}" class="btn btn-primary btn purple editView" title="Edit" ><i class="fa fa-edit"></i> Edit</a>
                                            <a th:href="@{excluir/{id}(id=${c.id})}" class="btn btn-danger btn purple deleteView" title="Delete"><i class="fa fa-trash-o"></i> Delete</a>
										</td>
                                    </tr>
                                    </tbody>
                                </table>


					<!--                 	  <table id="example1" class="table table-bordered table-striped dataTable" role="grid" -->
					<!--                                        aria-describedby="example1_info"> -->
					<!--                                     <thead class="thead"> -->
					<!-- 						             <tr> -->
					<!-- 										    <th>ID</th> -->
					<!-- 										     <th>Reserva</th> -->
					<!-- 										 	<th>AÇÕES</th> -->
					<!-- 		                              </tr> -->
					<!--                                     </thead> -->
					<!--                                     <tbody> -->
					<!--                                    <tr th:each="c : ${reservas}"> -->
					<!-- 										    <td th:text="${c.id}">Alfreds Futterkiste</td> -->
					<!-- 										     <td th:text="${c.nome}">Alfreds Futterkiste</td> -->
					<!--                                         <td> -->
					<!--                                             <a href="#" class="btn btn-primary btn purple editView" title="Edit" ><i class="fa fa-edit"></i> Edit</a> -->
					<!--                                             <a href="#" class="btn btn-danger btn purple deleteView" title="Delete"><i class="fa fa-trash-o"></i> Delete</a> -->
					<!--                                         </td> -->
					<!--                                     </tr> -->
					<!--                                     </tbody> -->
					<!--                                 </table> -->



				</div>
				<!-- /.box -->
			</div>
		</div>
	</div>

	<th:block layout:fragment="script">
		<script>
		var password = document.getElementById("password")
		  , confirm_password = document.getElementById("confirm_password");

		function validatePassword(){
		  if(password.value != confirm_password.value) {
		    confirm_password.setCustomValidity("Senhas diferentes!");
		  } else {
		    confirm_password.setCustomValidity('');
		  }
		}

		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;

</script>

	</th:block>


</body>

</html>