<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Cadastro de Usuario</title>

</head>
<body>
	<section layout:fragment="header">
		<h1>Cadastro de Usuario</h1>

		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Cadastrar Usuario</li>
		</ol>


	</section>



	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<!-- Horizontal Form -->
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Adicionar 
						Usuario</h3>
					</div>


					<!-- form start -->
					<!--                 <form th:action="@{/product/save}" th:object="${product}" method="post" class="form-horizontal"> -->


					<form action="/usuario/add/salvar" method="post"
						th:object="${usuario}">


						<th:block th:include="fragments/Mensagens">
						</th:block>



						<div class="box-body">

							<div class="form-group">
								<label id="nome" class=" control-label">Nome de Usuario</label>
								<input name="nome" class="form-control" placeholder="Nome">
							
							</div>
								<div class="form-group">
								<label id="senha" class=" control-label">Senha do Usuario</label>
								<input type="password"  name="senha" class="form-control" placeholder="senha">
							
							</div>

<!-- 							<div class="form-group"> -->
<!-- 								<label>Selecionar Curso</label> <select name="curso" -->
<!-- 									class="form-control"> -->
<!-- 									<option th:each="c: ${cursolist}" th:value="${c.id}" -->
<!-- 										th:text="${c.nome}"> -->
<!-- 								</select> -->
<!-- 							</div> -->


						</div>
						<!--                     /.box-body -->
						<div class="box-footer center">
							<a th:href="@{/reserva/listar}">
								<button type="button" class="btn btn-default">
									<i class="fa fa-right"></i> Listar Usuarios
								</button>
							</a>
							<button type="submit" class="btn btn-info pull-right"
								th:href="@{/reserva/novo/salvar}">
								<i class="fa fa-save"></i> Salvar Usuario
							</button>
						</div>
						<!-- /.box-footer -->
					</form>


					<!--                 	  <table id="example1" class="table table-bordered table-striped dataTable" role="grid" -->
					<!--                                        aria-describedby="example1_info"> -->
					<!--                                     <thead class="thead"> -->
					<!-- 						             <tr> -->
					<!-- 										    <th>ID</th> -->
					<!-- 										     <th>Reserva</th> -->
					<!-- 										 	<th>AÇÕES</th> -->
					<!-- 		                              </tr> -->
					<!--                                     </thead> -->
					<!--                                     <tbody> -->
					<!--                                    <tr th:each="c : ${reservas}"> -->
					<!-- 										    <td th:text="${c.id}">Alfreds Futterkiste</td> -->
					<!-- 										     <td th:text="${c.nome}">Alfreds Futterkiste</td> -->
					<!--                                         <td> -->
					<!--                                             <a href="#" class="btn btn-primary btn purple editView" title="Edit" ><i class="fa fa-edit"></i> Edit</a> -->
					<!--                                             <a href="#" class="btn btn-danger btn purple deleteView" title="Delete"><i class="fa fa-trash-o"></i> Delete</a> -->
					<!--                                         </td> -->
					<!--                                     </tr> -->
					<!--                                     </tbody> -->
					<!--                                 </table> -->



				</div>
				<!-- /.box -->
			</div>
		</div>
	</div>

	<th:block layout:fragment="script">
		<script>

</script>

	</th:block>


</body>

</html>