<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Product Details</title>

</head>
<body>
	<section layout:fragment="header">
		<h1>Cadastrar Reserva</h1>

		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Cadastrar Reserva</li>
		</ol>


	</section>



	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<!-- Horizontal Form -->
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Adicionar Reserva</h3>
					</div>


					<!-- form start -->
					<!--                 <form th:action="@{/product/save}" th:object="${product}" method="post" class="form-horizontal"> -->


					<form action="/reserva/add/salvar" method="post"
						th:object="${reserva}">

			<input type="hidden" readonly id="id" name="id" th:value="${reserva?.id}"/>
						<th:block th:include="fragments/Mensagens">
						</th:block>



						<div class="box-body">

							<div class="form-group">
								<label id="nome" class=" control-label">Nome do Reserva</label>
								<input name="nome" class="form-control" placeholder="Nome" th:value="${reserva?.nome}">

							</div>

						<div class="form-group">
								<label hidden="true"  class=" control-label" th:text="${usuarioid}" th:value="${usuarioid}">Nome do Reserva</label>

							</div>
							<div class="form-group">
								<label>Selecionar Curso</label> <select name="curso"
									class="form-control">
									<option th:each="c: ${cursolist}" th:value="${c?.id}"
										th:text="${c?.nome}">
								</select>
							</div>
							
								<div class="form-group">
								<label>Selecionar Local</label> 
								<select name="locais"
									class="form-control">
									<option th:each="local: ${locaislist}" th:value="${local?.id}"
										th:text="${local?.nomeLocal}">
								</select>
							</div>
							
							<div class="form-group">
								
								<label  > </label>
									
							</div>


						</div>
						<!--                     /.box-body -->
						<div class="box-footer center">
							<a th:href="@{/reserva/listar}">
								<button type="button" class="btn btn-default">
									<i class="fa fa-right"></i> Listar Reservas
								</button>
							</a>
							<button type="submit" class="btn btn-info pull-right"
								th:href="@{/reserva/add/salvar}">
								<i class="fa fa-save"></i> Salvar Reserva
							</button>
						</div>
						<!-- /.box-footer -->
					</form>
					
					
					<div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example1_info">
                                    <thead class="thead">
						            <tr>
										    <th>ID RESERVA</th>
										     <th>SOLICITANTE</th>
										    <th>NOME</th>
										    <th>CURSO</th>
										    <th>LOCAL</th>
										  	 <th>AÇÕES</th>
		                              </tr>
                                    </thead>
                                    <tbody>
                                   <tr th:each="g : ${reservalist}">
                                   <td th:text="${g.id}">Alfreds Futterkiste</td>
                                 	  <td th:text="${g.usuario}"></td>
									    
									     <td th:text="${g.nome}">Alfreds Futterkiste</td>
									      <td th:text="${g.curso.nome}"></td>
									      <td th:text="${g.locais.nomeLocal}"></td>
									    
									      
									      	 <td>
                                            <a th:href="@{/reserva/{id}(id=${g.id})}"class="btn btn-primary btn purple editView" title="Edit" ><i class="fa fa-edit"></i> Edit</a>
<!--                                             <a th:href="@{excluir/{id}(id=${g.id})}" class="btn btn-danger btn purple deleteView" title="Delete"><i class="fa fa-trash-o"></i> Delete</a> -->
                                       		 </td>
									     
									    </tr>
                                    	
                                    </tbody>
                                </table>
                            </div>
                        </div>
					


					<!--                 	  <table id="example1" class="table table-bordered table-striped dataTable" role="grid" -->
					<!--                                        aria-describedby="example1_info"> -->
					<!--                                     <thead class="thead"> -->
					<!-- 						             <tr> -->
					<!-- 										    <th>ID</th> -->
					<!-- 										     <th>Reserva</th> -->
					<!-- 										 	<th>AÇÕES</th> -->
					<!-- 		                              </tr> -->
					<!--                                     </thead> -->
					<!--                                     <tbody> -->
					<!--                                    <tr th:each="c : ${reservas}"> -->
					<!-- 										    <td th:text="${c.id}">Alfreds Futterkiste</td> -->
					<!-- 										     <td th:text="${c.nome}">Alfreds Futterkiste</td> -->
					<!--                                         <td> -->
					<!--                                             <a href="#" class="btn btn-primary btn purple editView" title="Edit" ><i class="fa fa-edit"></i> Edit</a> -->
					<!--                                             <a href="#" class="btn btn-danger btn purple deleteView" title="Delete"><i class="fa fa-trash-o"></i> Delete</a> -->
					<!--                                         </td> -->
					<!--                                     </tr> -->
					<!--                                     </tbody> -->
					<!--                                 </table> -->



				</div>
				<!-- /.box -->
			</div>
		</div>
	</div>

	<th:block layout:fragment="script">
		<script>
		
	      $(function () {

	        $('#example1').DataTable({
	          'paging'      : true,
	          'lengthChange': false,
	          'searching'   : true,
	          'ordering'    : true,
	          'info'        : true,
	          'autoWidth'   : false
	        })

	        jQuery('#example1_wrapper input').addClass("form-control input-sm"); // modify table search input
	      })


	</script>


	</th:block>


</body>

</html>