<!DOCTYPE html>
<html 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Product Details</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Cadastrar Local:
        
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Cadastrar Local</li>

    </ol>
</section>



<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Adicionar Local</h3>
                </div>
				
				
			
                <!-- /.box-header -->
                <!-- form start -->
<!--                 <form th:action="@{/product/save}" th:object="${product}" method="post" class="form-horizontal"> -->
<!--                 <form th:action=" ${curso.id == null} ?  @{/curso/salvar} : @{/curso/editar}" method="post" th:object="${curso}"> -->


           
          
                  <form th:action="@{/local/salvar}" method="post" th:object="${locais}">
          
       			   <th:block th:include="fragments/Mensagens">  </th:block>

 			<th:block th:include="fragments/modal">  </th:block>
 			
 		
 			
 				<!-- Button trigger modal -->
			<input type="hidden" readonly id="id" name="id" th:value="${locais?.id}"/>

						<div class="box-body">

							<div class="form-group">
								<label id="nomeLocal" class=" control-label">Nome do Local</label> 
								<input  placeholder="Nome do Local" type="text" class="form-control" id="nomeLocal" name="nomeLocal" th:value="${locais?.nomeLocal}">
							</div>
							
							

                            <div class="form-group">
                             <label  id="localQuant" class=" control-label">Quantidade de Pessoas na sala</label>
                             <input type="number" placeholder="Mínimo 10 e Máximo 100" required="required"  min="10" max="100" size="100" class="form-control" id="localQuant"  name="localQuant"  th:value="${locais?.localQuant}">
                             
<!--                                 <input name="descricao"  class="form-control" placeholder="descrição" th:field="*{descricao}"> -->
                            </div>
                            
							
						</div>

                    <!-- /.box-body -->
                    <div class="box-footer center">
                        <button type="submit" class="btn btn-info pull-right" ><i class="fa fa-save"></i> Salvar Local</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
                
                
                
                
                	  <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example1_info">
                                    <thead class="thead">
						             <tr>
										    <th>ID LOCAL:</th>
										     <th>LOCAL:</th>
										     <th>QUANTIDADE DE PESSOAS NO LOCAL:</th>
										 	<th>AÇÕES:</th>
		                              </tr>
                                    </thead>
                                    <tbody>
                                   <tr th:each="l : ${listlocais}">
										    <td th:text="${l.id}">Alfreds Futterkiste</td>
										     <td th:text="${l.nomeLocal}">Alfreds Futterkiste</td>
										      <td th:text="${l.localQuant}">Alfreds Futterkiste</td>
                                        <td>
                                        
                                            <a  th:href="@{/local/{id}(id=${l.id})}" class="btn btn-primary btn purple editView" title="Edit" ><i class="fa fa-edit" ></i> Edit</a>
                                            <a th:href="@{excluir/{id}(id=${l.id})}" class="btn btn-danger btn purple deleteView" title="Delete"><i class="fa fa-trash-o"></i> Delete</a>
										
									
									
								 
								</td>
                                    </tr>
                                    </tbody>
                                </table>
                                
  
               


            </div>
            <!-- /.box -->
        </div>
    </div>
</div>

<th:block layout:fragment="script">


    <script>
   
    $(function () {

      $('#example1').DataTable({
        'paging'      : true,
        'lengthChange': false,
        'searching'   : true,
        'ordering'    : true,
        'info'        : false,
        'autoWidth'   : false
      })

      jQuery('#example1_wrapper input').addClass("form-control input-sm"); // modify table search input
    })


</script>
</th:block>

</body>

</html>