<!DOCTYPE html>
<html 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout">
<head>
    <title>Formulário de Curso</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Cadastrar Curso
        
    </h1>
 
</section>



<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Adicionar Curso</h3>
                </div>
				
				
			
                <!-- /.box-header -->
                <!-- form start -->
<!--                 <form th:action="@{/product/save}" th:object="${product}" method="post" class="form-horizontal"> -->
<!--                 <form th:action=" ${curso.id == null} ?  @{/curso/salvar} : @{/curso/editar}" method="post" th:object="${curso}"> -->


           
          
                  <form th:action="@{/curso/salvar}" method="post" th:object="${curso}">
          
       			   <th:block th:include="fragments/Mensagens">  </th:block>

 			<th:block th:include="fragments/modal">  </th:block>
 			
 		
 			
 				<!-- Button trigger modal -->

			<input type="hidden" readonly id="id" name="id" th:value="${curso?.id}"/>

						<div class="box-body">

							<div class="form-group">
								<label id="nome" class=" control-label">Nome do Curso</label> 
								<input minlength="3" maxlength="200" placeholder="Insira o Nome do Curso " type="text" class="form-control" id="nome" name="nome" th:value="${curso?.nome}">
							</div>
							
							

                            <div class="form-group">
                             <label  id="descricao" class=" control-label">Descrição</label>
                             <input  placeholder="Insira a Descrição do Curso " type="text" minlength="5" maxlength="500" class="form-control" id="descricao"  name="descricao"  th:value="${curso?.descricao}">
<!--                                 <input name="descricao"  class="form-control" placeholder="descrição" th:field="*{descricao}"> -->
                            </div>
							
							
						</div>

                    <!-- /.box-body -->
                    <div class="box-footer center">
                        <a th:href="@{/curso/listar}">
                            <button type="button" class="btn btn-default"><i class="fa fa-right"></i> Listar Cursos</button>
                        </a>
                        <button type="submit" class="btn btn-info pull-right" ><i class="fa fa-save"></i> Salvar Curso</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
                
                
                
                
                	  <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example1_info">
                                    <thead class="thead">
						             <tr>
										    <th>ID</th>
										     <th>Curso</th>
										     <th>Descrição do Curso</th>
										 	<th>Ações</th>
		                              </tr>
                                    </thead>
                                    <tbody>
                                   <tr th:each="c : ${cursosAdmin}">
										    <td th:text="${c.id}">Alfreds Futterkiste</td>
										     <td th:text="${c.nome}">Alfreds Futterkiste</td>
										      <td th:text="${c.descricao}">Alfreds Futterkiste</td>
                                        <td>
                                        
                                            <a  th:href="@{/curso/{id}(id=${c.id})}" class="btn btn-primary btn-sm" title="Editar" ><i class="fa fa-edit" ></i> Editar</a>
                                         <!--    <a th:href="@{excluir/{id}(id=${c.id})}" class="btn btn-danger btn purple deleteView" title="Delete"><i class="fa fa-trash-o"></i> Delete</a> -->
										
									 <button th:id="${ 'btn_curso/excluir/' + c.id}" type="button" class="btn btn-danger btn-sm"
		                            		data-toggle="modal" data-target="#myModal">
		                                <span title="Exclusão desabilitada"  ><i class="fa fa-trash-o"></i> Excluir</span>
		                                
		                            </button>
									
								 
								</td>
                                    </tr>
                                    </tbody>
                                </table>
                                
  
               


            </div>
            <!-- /.box -->
        </div>
    </div>
</div>



<th:block layout:fragment="script">

    <script>
    
  
   
    $(function () {

      $('#example1').DataTable({
        'paging'      : true,
        'lengthChange': false,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : true
      })

      jQuery('#example1_wrapper input').addClass("form-control input-sm"); // modify table search input
    })


</script>
</th:block>

</body>

</html>