<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<section layout:fragment="header">


    <h1>
        Dashboard
        <small>Dashboard</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>



<div layout:fragment="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                <h4> Cursos Cadastrados:</h4>
                    <h2 th:text="${quantidadecurso}"></h2>
                   
                  
                </div>
               
               
            </div>
        </div>
        
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                   <h4>Reservas Cadastradas:</h4>
                  <h2 th:text="${quantidadereserva}"></h2>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar"></i>
                </div>
             
            </div>
        </div>
         <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                   <h4>Locais Cadastradas:</h4>
                  <h2 th:text="${quantidadelocais}"></h2>
                </div>
               
             
            </div>
        </div>
        <!-- ./col -->
    
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" sec:authorize="hasRole('ROLE_ADMIN')">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                <h4>Usuarios Registrados:</h4>
                  <h2 th:text="${quantidadeusuarios}"></h2>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
               
            </div>
        </div>
             
           <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                <h4> Professores Cadastrados:</h4>
                    <h2 th:text="${quantidadeprofessores}"></h2>
                   
                  
                </div>
              
               
            </div>
        </div>
        
    
        
            <div class="col-lg-3 col-xs-6" sec:authorize="hasRole('ROLE_ADMIN')">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h4>Perfis Registrados:</h4>
                  <h2 th:text="${grupos}"></h2>
                </div>
               
              
            </div>
        </div>
     
        
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
 <h1>Status Reservas:</h1>
 
 <div class="row">
 
 
   <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                   <h4>Reservas Confirmadas:</h4>
                  <h2 th:text="${reservaconfirmada}"></h2>
                </div>
                <div class="icon">
                    <i class="fa fa-calendar"></i>
                </div>
              
            </div>
        </div>
               <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                <h4>Reservas Canceladas:</h4>
                  <h2 th:text="${reservacancelado}"></h2>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
               
            </div>
        </div>
        
        
         <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                   <h4>Reservas em Analise:</h4>
                  <h2 th:text="${reservaanalise}"></h2>
                    
                </div>
               
            </div>
        </div>
 </div>
 
    </div>
    <!-- /.row (main row) -->




<th:block layout:fragment="script">
<script src="/dist/js/pages/dashboard.js"></script>
</th:block>
</body>
</html>